.product-detail img {
    max-width: 100%;
    height: auto;
  }
  
  .product-detail .lead {
    font-size: 1.25rem;
  }
  
  .product-detail .text-success {
    font-size: 1.5rem;
  }
  
  .product-detail .mt-3 {
    margin-top: 1rem;
  }

  .trash-icon {
    font-size: 1.5rem; 
    cursor: pointer; 
    color: #dc3545;
  }
  
  .trash-icon:hover {
    color: #bd2130; 
  }
  
  